body {
  background-color: rgb(252, 239, 216);
  overflow-x: hidden;
} 

/*Logo do Site*/
.logo {
  width: 150px;
}

.div-logo {
  width: 150px;
}

.pedir-orcamento{
  border-color: rgb(86, 86, 192);
  color: rgb(86, 86, 192);
}

.pedir-orcamento:hover{
  background-color: rgb(86, 86, 192);
  border-color: rgb(86, 86, 192);
  color: white;
}

/*Icones das redes sociais*/
.icon-bar {
  position: fixed;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 18px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background:#1A77F2;
  color: white;
  height: 20px;
}

.google {
  background: #dd4b39;
  color: white;
  height: 20px;
}

.linkedin {
  background: #007bb5;
  color: white;
  height: 20px;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}



/*Seccção da nav (navbar, links de navegação)*/
.nav {
  list-style-type: none;
  padding: 30px;
  text-align: center;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.nav a {
  text-decoration: none;

}

a {
  text-decoration: none;
}

.navbar-nav a:hover {
  color:  rgb(86, 86, 192);
}

.navbar-nav {
  text-align: center;
}

.nav-link {
  font-size: 20px;
  text-decoration: none;
}

.nav-item {
  padding-right: 50px;
}

/*Dropdown*/
.dropdown-menu {
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.dropdown-menu2:hover {
  display: block;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-item:hover{
  background-color: rgb(86, 86, 192);
  color: white;
  width: 130px;
}


.imagem {
  height: 30%;
}

/*Seccção Main*/
.container-back {
  margin-left: 15%;
  margin-right: 15%;
}

.inicio{
  height: 500px;
  width: 100%;
  
}

/*Carousel*/
.carousel-inner {
  height: 500px;
  width: 400px;
  margin: 0 auto;
}

.carousel-item {
  object-fit: scale-down;
}

.botao {
  border-radius: 0;
}

.div-sobre{
  display: flex;
  gap: 7px;
}

#sobre-imagem {
  border-radius: 10px;
  
  gap: 10%;
  height: 250px;
  width: 250px;
  
}

.emcad{
  width: 30%;
}

input[type="radio"]:checked + label {
  font-weight: 700;
  
}

/*Imagens dos Produtos*/
.produtos {
  border: 2px solid black;
  width: 300px;
}

#bomboneira{

  width: 400px;
}

.imgs-1 {
  width: 30%;
}

.coluna:hover {
  opacity: 50%;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#badge-producao {
  background-color: purple;
}

#badge-pintura {
  background-color: dodgerblue;
}

#badge-polimento {
  background-color: goldenrod;
}

#badge-conservacao{
  background-color: darkolivegreen;
}

#badge-gravacao{
  background-color: saddlebrown;
}

.card {
  border: 0;
  background-color: wheat;

}

.card-img-top {
  width: 300px;
  height: 300px;

} 

.card-img-top:hover {
  opacity: 0.5;
}

.description{
  background-color: wheat;
}

.rodape-text {
  color: black;
}

.redes-sociais {
  height: 30px;
  width: 30px;
}

.redes-sociais2{
  height: 40px;
  width: 40px;
}

.car {

  height: 750px;
  width: 100%;
}

.services {
  width: 20%;
}

#cont {

  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 70px;

}

#nome {
  border: 0.5px solid lightgrey;
  height: 40px;
  width: 60%;
}

#nome:focus {
  border-color: lightblue;
}

#assunto {
  border: 0.5px solid lightgrey;
  height: 40px;
  width: 60%;
}

#assunto:focus {
  border-color: lightblue;
}

#email {
  border: 0.5px solid lightgrey;
  height: 40px;
  width: 60%;
}

#email:focus {
  border-color: lightblue;
}

.mensagem {
  border: 0.5px solid lightgrey;
}

.btn-primary:hover {
  opacity: 75%;
}

#color-link {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}


*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}


#myBtn {
  color: red;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  margin-bottom: 10%;
}



[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  .icon-bar{
    display: none;
  }

}


#pnome{
 
    border: 0.5px solid lightgrey;
    border-radius: 15px;
    height: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: 70%;
  
}

#pnome:focus{
border: 1px solid green; 
}

#mail {
  border: 0.5px solid lightgrey;
  height: 40px;
  width: 60%;
}

#mail2 {
  border: 0.5px solid lightgrey;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  height: 40px;
  width: 70%;
}

#mail2:focus{
  border: 1px solid green;
}

#telemovel {
  border: 0.5px solid lightgrey;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  height: 40px;
  width: 70%;
}

#telemovel:focus{
  border: 1px solid green;
}


#servicos {
  border: 0.5px solid lightgrey;
  border-radius: 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  height: 40px;
  width: 70%;
}

#servicos:focus{
  border: 1px solid green;
}

#mail2{
  
    border: 0.5px solid lightgrey;
    height: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    width: 70%;
  
}

#descricao {
  border: 0.5px solid lightgrey;
}

#descricao:focus{
  border: 1px solid green;
}

#input[type="radio"]:checked{
background-color: blue;
}

.form-orcamento{
  justify-content: center;
}

.submeter-orcamento{
  background-color:#4CAF50;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  width: 15%;
 
}

.submeter-orcamento:hover{
  background-color:#5cc25f;
}

#reserva{
  display: none;
}



/*-----------------------------------------------*/
/*Carrinho de compras*/
.cart {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.loja{
  color:green;
}

.caption{
  background-color: #F5DEB3;
}

.detalhes{
  margin-left: 14%;
}

.detalhes-bomboneira{
  margin-left: 26%;
}

.detalhes-bules{
  margin-left: 2%;
}